body {
    font-family: sans-serif;
}
h1 {
    color: orange;
    text-align: center;
    font-size: 24px;
}
p {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
label {
    font: 400 11px system-ui;;
}

[class*="centerElement-"] {
    padding: 5px;
    width: 75%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block
}

.centerElement-Button {
    border-radius: 25px;
    border: 2px solid grey;
    background-color: grey;
    color: white;
}

.centerElement-Phrase {
    border-radius: 25px;
    border: 2px solid grey;
}

.smallButton {
    border-radius: 10px;
    border: 2px solid grey;
    padding: 5px;   
}

.tableRow {
    display:grid;
    grid-template-columns: 1fr 6fr 6fr 30px 30px;
    margin: 0 10px;
    font-size: 16px;
    align-items: center;
    height: 40px;
}
.item {
    background-color: white;
    padding: 0 5px;
}

.greyBg {
    background-color: lightgrey;
}

.whiteBg {
    background-color: white;
}

.tableRow:hover {
    background-color: lightgoldenrodyellow;
}